#content {
    background-color: #555;
    background-size: 100%;
    font-size: 12px;
}

div.addstorecontainer {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #FFF;
    font-size: 20px;
    text-align: center;
    line-height: 20px; /* vertically center text */
    cursor: pointer;
}
div.addstoreformcontainer {
    display: none;
    width: 30%;
    padding: 10px;
}

div.floor {
    width: 97.5%;
    padding: 10px;
}
div.store {
    width: 150px;
    height: 100px;
    background-color: #666;
    padding: 10px;
    margin: 10px;
    float: left;
}
div.storermv {
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-color: #CCC;
    float: right;
    border-radius: 8px;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
}
div.storename {
    text-align: center;
}