div.overlaytitle {
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
    float: right;
    top: -28px;
    right: 25px;
}
div.overlayicon {
    height: 20px;
    border-radius: 10px;
    background-color: #FFF;
    font-size: 10px;
    text-align: center;
    line-height: 20px; /* vertically center text */
    cursor: pointer;
    margin-bottom: 10px;
}
.overlay {
    display: none;
    z-index: 100;
    background-color: black;

    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}
div.overlay .close {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px dotted silver;
}
div.overlay {
    display: none;
    padding: 10px;
}
div.overlayformcontainer {
    margin: 0 auto;
}
div.overlay table {
    width: 100%;
    margin: 0 auto;
}
div.overlay td.overlaylabel {
    text-align: right;
    width: 35%;
}
div.overlay td.overlayinput input {
    margin-left: 10px;
}
div.overlaystep2 {
    display: none;
}
div.overlayslidedown {
    display: none;
    text-align: center;
}
div.overlayimagecontainer {
    display: inline-block;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}
div.overlayimage {
    text-align: center;
}
.cropbutton {
    margin-top: 10px;
}
div.overlaysubmit {
    text-align: center;
    pading: 20px 0;
}
.overlayOpen #workspace {
    -webkit-filter: blur(5px);
}