
ul.floor,
ul.wishlist {
    list-style-type: none;
    margin: 0 0 20px;
    width: 100%;
}
ul.floor li,
ul.wishlist li {
    margin: 15px 10px;
    float: left;
}

.placeholder {
    border: 1px solid white;
    background-color: silver;
    opacity: 0.2;
    border-radius: 3px;
}

div.floorlabel.vert,
div.wishlistlabel.vert {
    writing-mode: tb-rl;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0;
    -moz-transform-origin: 0;
    -ms-transform-origin: 0;
    -o-transform-origin: 0;
    transform-origin: 0;
    right: -112px;
    top: 10px;
    letter-spacing: .2em;
    text-align: left;
}
div.floorlabel,
div.wishlistlabel {
    height: 0px;
    float: right;
    position: relative;
    top: -12px;
    text-transform: uppercase;
    letter-spacing: .4em;
    font-size: 10px;
    width: 100px;
    text-align: right;
}
div.store,
div.wli {
    background-color: #FFF;
    margin: 10px;
    display: inline-block;
}
div.store:hover,
div.wli:hover {
    cursor: pointer;
}
div.storermv,
div.wlirmv {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    background-color: #FFF;
    float: right;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
    right: -11px;
    z-index: 10;
}
div.storeimgcontainer img,
div.wlimgcontainer img {
    border-radius: 3px;
    max-width: 100%;
    max-height: 100%;
}