body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans;
}

ul, ol {
    margin: 0;
    padding: 0;
}

p, figure {
    margin: 1em 0;
}

a img {
    border: none;
}

a {
    color: silver;
    text-decoration: none;
}
a:visited {
    color: #FFF;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}

#content {
    color: #CCC;
    background-color: #555;
    background-size: 100%;
    font-size: 12px;
    padding: 20px 0px;
    min-height: 600px;
}
#workspace {
    width:900px;
    margin:auto;
    min-height:600px;
    background-color: #000;
    padding: 10px;
    border-radius: 20px;
}

.thinborder {
    border: 1px solid silver;
    border-radius: 5px;
}
.dotthinborder {
    border: 1px dotted silver;
    border-radius: 5px;
}
.icontext {
    color: #000;
    font-size: 12px;
}

form input[type="text"],
form input[type="password"],
form input[type="url"] {
    border-radius: 3px;
    padding: 2px 4px;
    border: 2px solid silver;
}
form input[type="url"] {
    width: 250px;
}

.success {
    color: goldenrod;
}
.successMsg {
    width: 90%;
    border: 1px solid goldenrod;
    display: none;
    border-radius: 7px;
    padding: 5px;
    margin: 0 auto;
}
.error {
    color: red;
}
.errorMsg {
    width: 90%;
    border: 1px solid red;
    display: none;
    border-radius: 7px;
    padding: 5px;
    margin: 0 auto;
}

div.workspacetitle {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    padding: 10px 0px;
}
#shield {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    display: none;
    z-index: 100;
}