
/* add to wishlist overlay */
div.overlayicon.addwishlisticon {
    width: 60px;
}
div.overlayicon.addtowishlisticon {
    width: 80px;
}
div.addwishlistoverlay,
div.addtowishlistoverlay {
    width: 50%;
    left: 24%;
    min-width: 400px;
}

/* wishlist styling */
ul.wishlist {
    min-height: 182px;
}
ul.wishlist li {
    height: 150px;
}
div.wli,
div.wlimgcontainer img {
    width: 100px;
    height: 150px;
}
div.wlirmv {
    top: -167px;
}
div.wishlistdescrip {
    background: rgb(200,200,200);
    background: rgba(200,200,200,0.5);
    color: white;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    float: left;
}
/*
ul.wishlist.newwishlist {
    height: 50px;
    font-style: italic;
}*/