<form id="addstoreform">
  <table>
    <tr>
      <td colspan="2">{% for error in form.domain.errors %}{{error}}{% endfor %}</td>
    </tr>
    <tr>
      <td><label for="id_domain"> Store URL </td>
      <td><input type="url" id="id_domain" name="domain" maxlength="200" placeholder="your store url"></td>
    </tr>

    <tr>
      <td colspan="2">{% for error in form.name.errors %}{{error}}{% endfor %}</td>
    </tr>
    <tr>
      <td><label for="id_name"> Store Name </td>
      <td>{{form.name}}</td>
    </tr>

    <tr>
      <td colspan="2">{% for error in form.tags.errors %}{{error}}{% endfor %}</td>
    </tr>
    <tr>
      <td><label for="id_tags"> Tags </td>
      <td>{{form.tags}}</td>
    </tr>

    <tr>
      <td colspan="2" style="text-align:center;">
	<input type="button" class="button tinybutton addstorebutton" value="Add Store">
      </td>
    </tr>
  </table>
</form>
