<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ssmedia}}/css/style.css" />
  <link rel="stylesheet" href="{{ssmedia}}/css/header.css" />
  {% block css %}
  {% endblock %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  {% block js %}
  {% endblock %}

    <title>{% block title %}shop square{% endblock %}</title>
</head>

<body>
	<div id="header">
		{% block header %}
		{% include "header.html" %}
		{% endblock %}
	</div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
		{% block footer %}
		{% include "footer.html" %}
		{% endblock %}
    </div>
</body>
</html>
