{% extends "base.html" %}

{% block title %}shop square - edit floorplan{% endblock %}

{% block content %}
{% for store in stores %}
<div>
	[#{{store.id}}] ({{store.floor}},{{store.position}}) {{store.name}}: <a href="http://{{store.domain}}" target="_new">{{store.domain}}</a>
</div>
{% endfor %}

<form action="/edit_floorplan/{{mall.id}}/" method="POST"> {% csrf_token %}
	{% if form.errors %}
	{{ form.errors }}
	{% endif %}
	<label for="id_store_id"> store id {{form.store_id}}<br>
	<label for="id_new_floor"> new floor {{form.new_floor}}<br>
	<label for="id_new_position"> new position {{form.new_position}}
	<input type="submit" value="Go"><br>
</form>
{% endblock %}