{% extends "base.html" %}

{% block title %}shop square - mall - floor{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ssmedia}}/css/mall.css" type="text/css"/>
<link rel="stylesheet" href="{{ssmedia}}/css/shared_mall_wishlist.css" type="text/css"/>
<link rel="stylesheet" href="{{ssmedia}}/css/overlay.css" type="text/css"/>
<link rel="stylesheet" href="{{ssmedia}}/css/jquery.Jcrop.min.css" type="text/css"/>
{% endblock %}
{% block js %}
<script type="text/javascript">
//<![CDATA[
var addStoreURL = "{% url add_store %}";
var removeStoreURL = "{% url remove_store 'floor' %}";
var moveStoreURL = "{% url move_store %}";
var scrapeImageURL = "{% url scrape_image %}";
var doCropURL = "{% url do_crop %}";
var mallid = '{{mall.id}}';
var floorid = '{{floor_id}}';
var addformtrigger;
//]]>
</script>
<script type="text/javascript" src="{{ssmedia}}/js/floor.js"></script>
<script type="text/javascript" src="{{ssmedia}}/js/jquery.Jcrop.min.js"></script>
<script type="text/javascript" src="{{ssmedia}}/js/jquery.tools.min.js"></script>
{% endblock %}

{% block content %}
<div id="workspace">
  <div class="floorname workspacetitle">floor {{floor_id}}</div>
  <div class="successMsg success"></div>
  <div class="errorMsg error"></div>
  <div id="floor">
    {% include "floor_snippet.html" %}      
  </div>
</div>
{% endblock %}


