{% for floor,stores in stores_dict.items %}
  {% if stores %}    
  <div id="floor_{{floor}}" class="floor clearfix thinborder">
    <div class="floorlabel">floor {{floor}}</div>
    <div class="floorlabel vert">floor {{floor}}</div>
    {% for storetup in stores %}
      {% with store=storetup.0 %}
        {% with storeimg=storetup.1 %}
        <div id="store_{{store.id}}" class="store thinborder">
	   <div class="storeimgcontainer">	   
	     <a href="{{store.url}}" target="_new">
	       <img src="/ssmedia/store/{{request.user.id}}/{{storeimg}}"></img>    
	     </a>
	   </div>	   
           <div id="rmv_{{store.id}}" class="storermv dotthinborder icontext">x</div>
           <div class="storename">
	     {{store.name}}	     
           </div>
        </div>
        {% endwith %}
      {% endwith %}
    {% endfor %}
  </div>
  {% else %}
  <div id="floor_{{floor}}" class="floor dotthinborder clearfix">
    <div class="floorlabel">floor {{floor}}</div>
    <div class="floorlabel vert">floor {{floor}}</div>
  </div>    
  {% endif %}    
{% endfor %}
