{% extends "base.html" %}

{% block title %}shop square - mall{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ssmedia}}/css/mall.css" type="text/css"/>
<link rel="stylesheet" href="{{ssmedia}}/css/overlay.css" type="text/css"/>
<link rel="stylesheet" href="{{ssmedia}}/css/jquery.Jcrop.min.css" type="text/css"/>
{% endblock %}
{% block js %}
<script type="text/javascript">
//<![CDATA[
var addStoreURL = "{% url add_store %}";
var removeStoreURL = "{% url remove_store %}";
var moveStoreURL = "{% url move_store %}";
var scrapeImageURL = "{% url scrape_image %}";
var doCropURL = "{% url do_crop %}";  
var mallid = '{{mall.id}}';
var addformtrigger;
//]]>
</script>
<script type="text/javascript" src="{{ssmedia}}/js/overlay.js"></script>
<script type="text/javascript" src="{{ssmedia}}/js/mall.js"></script>
<script type="text/javascript" src="{{ssmedia}}/js/jquery.Jcrop.min.js"></script>
<script type="text/javascript" src="{{ssmedia}}/js/jquery.tools.min.js"></script>
{% endblock %}

{% block content %}
<div id="addstoreoverlay" class="addstoreoverlay thinborder overlay">
  {% include 'add_store_snippet.html' %}
</div>
<div id="workspace">  
  <div class="mallname workspacetitle">{{mall.name}}</div>
  <div class="successMsg success"></div>
  <div class="errorMsg error"></div>  
  <div class="addstorecontainer thinborder icontext overlayicon" rel="#addstoreoverlay">+</div>
  <div id="mall">
    {% include 'mall_snippet.html' %}    
  </div>
</div>  
{% endblock %}
