{% extends "base.html" %}

{% block title %}shop square - mall{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ssmedia}}/css/mall.css"/>
{% endblock %}
{% block js %}
<script type="text/javascript">
//<![CDATA[
var removeStoreURL = "{% url remove_store %}";
var moveStoreURL = "{% url move_store %}";
var mallid = '{{mall.id}}';
//]]>
</script>
<script type="text/javascript" src="{{ssmedia}}/js/mall.js"></script>
{% endblock %}

{% block content %}
<div id="workspace">  
  <div class="mallname">{{mall.name}}</div>
  <div class="addstorecontainer thinborder icontext">+</div>
  <div class="addstoreformcontainer thinborder">
    {% include 'add_store_snippet.html' %}
  </div>
  <div id="mall">
    {% for floor,stores in stores_dict.items %}
      <div id="floor_{{floor}}" class="floor thinborder clearfix">
	{% for store in stores %}
	  <div id="store_{{store.id}}" class="store thinborder">
	    <div id="rmv_{{store.id}}" class="storermv thinborder icontext">x</div>
	    <div>[#{{store.id}}] {{store.name}}:</div>
	    <div class="storename">
	      <a href="http://{{store.domain}}" target="_new">{{store.domain}}</a>
	    </div>
	  </div>
	{% endfor %}
      </div>
    {% endfor %}
  </div>
</div>  
{% endblock %}
