{% extends "base.html" %}

{% block title %}shop square - wishlist{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ssmedia}}/css/wishlist.css" type="text/css"/>
<link rel="stylesheet" href="{{ssmedia}}/css/shared_mall_wishlist.css" type="text/css"/>
<link rel="stylesheet" href="{{ssmedia}}/css/overlay.css" type="text/css"/>
<link rel="stylesheet" href="{{ssmedia}}/css/jquery.Jcrop.min.css" type="text/css"/>
{% endblock %}
{% block js %}
<script type="text/javascript">
//<![CDATA[
var addToWishlistURL = "{% url add_to_wishlist %}";
var addWishlistURL = "{% url add_wishlist %}";
var moveItemURL = "{% url move_wishlistitem 'wli' %}";
var scrapeImageURL = "{% url scrape_image %}";
var doCropURL = "{% url do_crop %}";
var removeWishlistitemURL = "{% url remove_wishlistitem %}";
//]]>
</script>
<script type="text/javascript" src="{{ssmedia}}/js/overlay.js"></script>
<script type="text/javascript" src="{{ssmedia}}/js/wishlist.js"></script>
<script type="text/javascript" src="{{ssmedia}}/js/jquery.Jcrop.min.js"></script>
<script type="text/javascript" src="{{ssmedia}}/js/jquery.tools.min.js"></script>
{% endblock %}

{% block content %}
  {% if is_owner %}  
    <div id="addtowishlistoverlay" class="addtowishlistoverlay thinborder overlay">
      {% include 'add_to_wishlist_snippet.html' %}
    </div>  
    <div id="addwishlistoverlay" class="addwishlistoverlay thinborder overlay">
      {% include 'add_wishlist_snippet.html' %}
    </div>
  {% endif %}
  <div id="workspace">
    <div class="workspacetitle">wishlist</div>  
    <div class="successMsg success"></div>
    <div class="errorMsg error"></div>
    {% if is_owner %}  
      <div class="addtowishlisticon thinborder icontext overlayicon" rel="#addtowishlistoverlay">+ wishlist item</div>
    {% endif %}  
    <div id="wishlist">  
      {% include 'wishlist_snippet.html' %}  
    </div> 
    {% if is_owner %}  
      <div class="addwishlisticon thinborder icontext overlayicon" rel="#addwishlistoverlay">+ wishlist</div>
    {% endif %}    
  </div>
{% endblock %}
